@{
    ViewData["Title"] = "GetPassword";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Password - Trividi Booking</title>
    <link rel="icon" type="image/x-icon" href="/images/logo.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/form-s.css">
</head>

<body>
    <div class="layout">
        <div class="container">
            <a asp-action="Index" asp-controller="Hotel" class="backhome"><i class="fa-solid fa-arrow-left"></i></a>
            <h3 class="heading">Get Password</h3>
            <form asp-action="GetPassword2" asp-controller="Authentication" class="form" method="post">
                <div class="input">
                    <input type="email" class="input-box" placeholder="Enter Email" name="email" required>
                </div>

                @if (@ViewBag.Err != null)
                {
                    <div class="field-text-error">
                        <p>@ViewBag.Err</p>
                    </div>
                }
                @if (@ViewBag.Success != null)
                {
                    <div class="field-text-error sucess">
                        <p>@ViewBag.Success</p>
                    </div>
                }
                <input type="submit" value="Send email" class="btn">
            </form>
            <div class="form-link">
                <span>Back to <a asp-action="Login" asp-controller="Authentication" class="signup-link">Login</a></span>
            </div>

        </div>
    </div>
</body>

</html>